<!doctype html>
<html>
  <head>
    <title>Upload new File</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}" data-rel-css=""/>
  </head>
  <body>
    <div class="contenedor">
      <h1 class="title">Upload new File</h1>
      <form class="ventana" method=post enctype=multipart/form-data>
        <fieldset>
          <br>
          <input type=file class="text" name=file>
          <input type=submit class="text" value=Upload>
        </fieldset>
      </form>
    </div>
  </body>
</html>